{{ define "body" }}
    <body class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
{{ end }}

{{ define "main" }}
    <main aria-role="main">
        <div>
            {{ if .Site.Params.Portrait.Path }}
               <img src="{{ .Site.Params.Portrait.Path }}"
                    class="circle" alt="{{ .Site.Params.Portrait.Alt }}" 
                    style="max-width:{{ .Site.Params.Portrait.MaxWidth }}" />
            {{ end }}

            <!-- Front page title -->
            <h1 style="font-family: 'Inter Tight', sans-serif;
                       font-size: 3.5rem;
                       line-height: 0%;
                       font-weight: 300;">

                <a href="{{ "about" | absLangURL }}"
                   style="text-decoration: none">
                    {{ .Site.Title }}
                </a>

            </h1>

            <div style="font-family: 'Inter Tight', sans-serif;
                        font-size: 1.1rem;
                        line-height: 0%;
                        font-weight: 400;">

                    <a href="{{ "about" | absLangURL }}"
                       style="text-decoration: none;">
                        {{ partial "subtitle.html" . }}
                    </a>
                    
            </div>
            
            <div style="margin-top: 1.5rem;">
                {{- with .Site.Params.social }}
            </div>
            
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}
        </div>
    </main>
{{ end }}
